<!DOCTYPE html>
<html>
  <head>
    {% block title%} {% endblock %}
    <!-- Add your CSS and JavaScript files here -->
    <link rel="stylesheet" href={{url_for("static", filename="styles/main.css")}} />
    <script src={{url_for("static", filename="scripts/main.js")}}></script>
  </head>
  <body>
    <!-- Add your header content here -->
    <header>
      <h1>Your Website Header</h1>
      <nav>
        <ul>
          <li><a href={{url_for("auth_view.register_user")}}>Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    <!-- This is where the content from other views will be inserted -->
    {% endblock %}

    <!-- Add your footer content here -->
    <footer>
      <p>&copy; {{datetime.now().year}} Your Website Footer</p>
    </footer>
  </body>
</html>
